<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-lg-4 col-md-6 col-sm-8 text-center user-button">
            <h1 class="mb-5"> Captect Inventory Management System</h1>
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                data-target="#managerLoginModal">
                Manager Login
            </button>
            <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal"
                data-target="#superUserLoginModal">
                Super User Login
            </button>
            <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal"
                data-target="#sellerLoginModal">
                Seller Login
            </button>
        </div>
    </div>
</div>
<!-- manger-login -->
<div class="modal fade" id="managerLoginModal" tabindex="-1" aria-labelledby="assignShopModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignShopModalLabel">manger signin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="managersigninform">
                    <div class="form-floating mt-3">
                        <input type="email" class="form-control" id="manageremail" placeholder="name@example.com"
                            required />
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" class="form-control" id="managerpassword" placeholder="Password"
                            required />
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me" /> Remember me
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">
                        Sign in
                        <i class="fas fa-spinner fa-spin spinner" id="loadingSpinner"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Manager Login Modal end -->


<!-- Super User Login Modal -->

<div class="modal fade" id="superUserLoginModal" tabindex="-1" aria-labelledby="assignShopModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignShopModalLabel">SuperUser signIn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="superusersigninform">
                    <div class="form-floating mt-3">
                        <input type="email" class="form-control" id="superuseremail" placeholder="name@example.com"
                            required />
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" class="form-control" id="superuserpassword" placeholder="Password"
                            required />
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me" /> Remember me
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">
                        Sign in
                        <i class="fas fa-spinner fa-spin spinner" id="loadingSpinner"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Seller Login Modal -->

<div class="modal fade" id="sellerLoginModal" tabindex="-1" aria-labelledby="assignShopModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignShopModalLabel">Seller Signin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="sellersigninform">
                    <div class="form-floating mt-3">
                        <input type="email" class="form-control" id="selleremail" placeholder="name@example.com"
                            required />
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" class="form-control" id="sellerpassword" placeholder="Password"
                            required />
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me" /> Remember me
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">
                        Sign in
                        <i class="fas fa-spinner fa-spin spinner" id="loadingSpinner"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>