<%- include('../partials/usertab.ejs') %>

    <div class="container text-center">
        <div class="row lg-4  singinsignup">
            <main class="form-signin">
                <form id="sellersignUpform">
                    <h1 class="h3 mb-3 fw-normal">seller signup</h1>

                    <div class="form-floating mt-3">
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" required />
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="password" class="form-control" id="password" placeholder="Password" required />
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" id="username" placeholder="username" required />
                        <label for="floatingInput">username</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" id="phonenumber" placeholder="phonenumber" required />
                        <label for="floatingInput">Phonenumber</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me" /> Remember me
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">
                        Sign up
                        <i class="fas fa-spinner fa-spin spinner" id="loadingSpinner"></i>
                    </button>
                </form>
            </main>
        </div>
    </div>