<div class="container mt-5">

    <div class="row align-items-center justify-content-between">
        <div class="col-lg-6">
            <h1>Shop name:shop63</h1>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h5 class="card-title mt-3">Sales Person</h5>
                    <a href="/" class="text-decoration-none text-dark">
                        <p>Antony</p>
                    </a>
                    <a href="/" class="text-decoration-none text-dark">
                        <p>Mercy</p>
                    </a>
                </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="/api/user/seller/signup" class="text-decoration-none text-dark">
                    <div class="card-body text-center">
                        <i class="fas fa-chart-line fa-3x"></i>
                        <h6>sh:2323242</h6>
                        <h5 class="card-title mt-3">Total Sales</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="/api/user/manager/signup" class="text-decoration-none text-dark">
                    <div class="card-body text-center">
                        <i class="fas fa-calendar-day fa-3x"></i>
                        <p>sh:23123</p>
                        <h5 class="card-title mt-3">Today Sales</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fas fa-dollar-sign fa-3x"></i>
                    <h5 class="card-title mt-3">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addaccessoryprduct">Add
                            Expenses</button>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fas fa-plus-circle fa-3x"></i>
                    <h5 class="card-title mt-3">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addphoneprduct">Add
                            Expenses</button>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fas fa-mobile-alt fa-3x"></i>
                    <h5 class="card-title mt-3">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewMobile">View
                            Mobiles</button>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fas fa-boxes fa-3x"></i>
                    <h5 class="card-title mt-3">
                        <a href="/api/inventory/accessory" class="text-decoration-none text-dark">
                            <button class="btn btn-primary">View Accessories</button>
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>