<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description"
        content="Discover a wide range of automotive lubricants and spare parts from top brands like Shell, conveniently located in the CBD of Nairobi. Explore our selection of quality products to keep your vehicle running smoothly. Discover Edwin Car Lubricants, your one-stop solution for smooth and efficient vehicle performance. Trust Edwin to keep your business moving seamlessly." />
    <meta name="keywords"
        content="automotive lubricants, spare parts, Shell, Nairobi CBD, top brands, vehicle maintenance, car parts, engine oil" />
    <meta name="author" content="timothy joseph" />
    <meta name="robots" content="index, follow" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Poppins:wght@300&family=Roboto+Condensed:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,100;1,100;1,300&display=swap");
    </style>
    <title>
        <%= typeof title !=='undefined' ? title : 'Captec Web Application' %>
    </title>
</head>

<body>
    <div class="container-fluid">
        <main><%- body %></main>
    </div>
    <div class="fixed-bottom d-flex justify-content-center align-items-center"
        style="padding: 10px; background-color: #f8f9fa;">
    </div>
    <script src="/js/usermanagement.js"></script>
    <script src="/js/accessorymanagement.js"></script>
    <script src="/js/inventorymanagement.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>

</body>

</html>